.background-img {
    background-image: url('../../images/banner.png.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
}

.we-special {
    text-shadow: 0 0 2px #fff;
    ;
}